
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&display=swap');
/*Styles of index */
:root{
    --color-first: #e5097f;
    --second: #e92c91;
    --third: #f252a7;
    --fourth: #fb7ec1;
    --fifth:#fdb5db;
    --letter: #D4AF37;
    --letters: #F5F5DC;
    --secondletters: white;
    --text: #646464; 
    
    --text-head: "Great Vibes", cursive;
    --text-words: "Instrument Serif", serif;
}
/* Styles for infomation.html*/

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

#estilo{
    min-height: 100vh;
    background-color:#F2EBE3;

}
.headers{
    display: flex;
    margin: 3px solid var(--fifth);
    position: -webkit-sticky;
    position:sticky;
    z-index: 100;
    padding: 1rem 0;
    box-shadow: 0px 1px 10px;
    background-color: #e5097f;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.navig__link{
    color:#F5F5DC;
    text-decoration: none;
}

.navig__items{
    border: 2px solid var(--fifth);
    border-radius: 10px;
    padding: 5px 13px;
    display: inline-block;
}

.card__subtitle{
    font-family: var(--text-head);
    color: #e92c91;
    font-size: 60px;
    text-align: center;
    padding: 30px;

}
.question{
    font-family: var(--text-words);
    font-size: 30px;
    border: 1px solid #fb7ec1 ;
    width: 500px;
    background-color: #fdb5db;
    padding-left: 12px;
}

.respond{
    font-family: var(--text-words);
    font-size: 20px;
    padding: 12px;
}

#lista{
    padding-left: 35px;
    padding-top: 1px;
    list-style-type:circle;
}
#lista1{
    padding-left: 35px;
    list-style-type:square;
}
.responds{
    padding: 12px;
    font-family: var(--text-words);
    font-size: 25px;
}

/* Estilo de skills.html*/
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#habil{
    background-color: var(--letters);
    min-height: 100hv;
}

.navis__link{
    color: var(--letters);
    text-decoration: none;
    
}

.navis__items{
    color:var(--letters);
    border:var(--letters) 1px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 13px;
}

.menu{
    display: flex;
    margin: 3px solid var(--color-first);
    position: -webkit-sticky;
    position:sticky;
    z-index: 100;
    padding: 1rem 0;
    box-shadow: 0px 1px 10px;
    background-color: var(--color-first);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.title__skill{
    font-family: var(--text-head);
    color: var(--fourth);
    font-size: 50px;
    text-align: center;
    padding: 12px;
}
.skills__list{
    font-family: var(--text-words);
    font-size: 20px;
    padding: 12px;

}

.skill__itme{
    padding: 12px;
    text-decoration: none;
}

.piedpagia{
    display: flex;
    margin: 3px solid var(--color-first);
    position: -webkit-sticky;
    position:sticky;
    z-index: 100;
    padding: 1rem 0;
    background-color: var(--fifth);
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-bottom: 12px;
}

/* estilo de contacts.html*/
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.piedpagi{
    display: flex;
    margin: 3px solid var(--color-first);
    position: -webkit-sticky;
    position:sticky;
    z-index: 100;
    padding: 1rem 0;
    background-color: var(--fifth);
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-bottom: 12px;
}
.imagen{
    height: 100px;
    width: 100px;
    display: block;
}

#hab{
    background-color: var(--letters);
    min-height: 100hv;
}

.navis__lin{
    color: var(--letters);
    text-decoration: none;
    
}

.navis__item{
    color:var(--letters);
    border:var(--letters) 1px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 13px;
}
.enlanc{
    display: flex;
    margin: 3px solid var(--color-first);
    position: -webkit-sticky;
    position:sticky;
    z-index: 100;
    padding: 1rem 0;
    box-shadow: 0px 1px 10px;
    background-color: var(--color-first);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.contact__title{
    font-family: var(--text-head);
    font-size: 80px;
    text-align: center;
    padding: 12px;
}

/*estilo de projects.html*/
#ha{
    background-color: var(--letters);
    min-height: 100hv;
}

.navis__li{
    color: var(--letters);
    text-decoration: none;
    
}

.navig__item{
    color:var(--letters);
    border:var(--letters) 1px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 13px;
}
.enlan{
    display: flex;
    margin: 3px solid var(--color-first);
    position: -webkit-sticky;
    position:sticky;
    z-index: 100;
    padding: 1rem 0;
    box-shadow: 0px 1px 10px;
    background-color: var(--color-first);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.prince__subtittle{
    font-family: var(--text-head);
    font-size: 60px;
    text-align: center;
    padding: 12px;
}

.project__name{
    font-family: var(--text-words);
    font-size: 20px;
    border: 2px solid var(--fourth);
    border-radius: 12px;
    padding: 12px;
    width: 190px;
    
}

.project__description{
    font-family: var(--text-words);
    font-size: 18px;
    padding: 25px;

}
.project__link{
    text-decoration: none;
    padding: 25px;
}
.project__image{
    padding: 20px;
    display: flex;
}
.second__name{
     font-family: var(--text-words);
    font-size: 20px;
    border: 2px solid var(--fourth);
    border-radius: 12px;
    padding: 12px;
    width: 190px;
}
.second__description{
    font-family: var(--text-words);
    font-size: 18px;
    padding: 25px;

}
.second__image{
    display: flex;
    padding: 20px;
}
.third__name{
     font-family: var(--text-words);
    font-size: 20px;
    border: 2px solid var(--fourth);
    border-radius: 12px;
    padding: 12px;
    width: 190px;
}
.third__description{
    font-family: var(--text-words);
    font-size: 18px;
    padding: 25px;

}
.third__imagen{
    display: flex;
    padding: 20px;
}

