
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Instrument+Serif:ital@0;1&display=swap');
/*Styles of index */
:root{
    --color-first: #e5097f;
    --second: #e92c91;
    --third: #f252a7;
    --fourth: #fb7ec1;
    --fifth:#fdb5db;
    --letter: #D4AF37;
    --letters: #F5F5DC;
    --secondletters: white;
    --text: #646464; 
    
    --text-head: "Great Vibes", cursive;
    --text-words: "Instrument Serif", serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main__introducciontittle{
    font-family: var(--text-head);
    text-align: center;
    margin-top: 200px;
    font-size: 66px;
    color: var(--letters);
    letter-spacing: 1px;
    font-weight: 200;
    align-items: center;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: alternate-reverse;
}
@keyframes rotate{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg)
    }
}

#fondo {
    background-color: var(--color-first);
    animation-name: animacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes animacion{
    0% {background-color: var(--color-first);}
    25% {background-color: #f70071;}
    50% {background-color: #ff5aa4;}
    60% {background-color: var(--second);}
}

.nav__link{
    color: black;
    font-size: 30px;
    text-decoration: none;
    border: 2px solid var(--letters);
    padding: 5px 10px;
    border-radius: 10px;
    justify-items: center;

}

.nav a{
    position: relative;
    left: 465px;
    top: 15px;
}
/*styles of presentation.hmtl*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#subfondo{
    background: radial-gradient(circle,  #f70071, #e761a9);

}

.personal__avatar{
    width: 450px;
    height: 340px;
    object-fit: cover;
    border-radius: 50%;
    animation: flotar 3s ease-in-out infinite; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shadow{
    width: 260px;
    height: 30px;
    background: rgba(0,0,0,0.2);
    border-radius: 60%;
    margin-top: 10px;
    margin: 1px auto 1px 97px;
    animation: float 3s ease-in-out infinite; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.personal__information{
    display: flex;
    flex-direction: column;

    
}
.profession{
    font-family: var(--text-words);
    font-size: 45px;
    color: black;
    text-align: center;
}
@keyframes flotar {
    0%{ transform: translateY(360deg);}
    50%{ transform: translateY(-20px);}
    100%{ transform: translateY(0px);}
}
@keyframes float {
    0%{ transform: scaleX(1px); opacity: 1;}
    50%{ transform: scaleX(5px); opacity: 0.5;}
    100%{ transform: scaleX(0px); opacity: 1;}
}
.personal__name{
    font-size: 70px;
    padding-top: 100px;
    font-family: var(--text-head);
    text-align: center;
    color: var(--letters);
}

.header{
    display:flex;
    margin: 3px solid var(--letters);
    position:-webkit-sticky;
    position: sticky;
    z-index: 1000;
    padding: 1rem 0;
    box-shadow: 0px 2px 5px #F5F5DC;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}
.personal__profession{
    font-family: var(--text-words);
    font-size: 40px;
    text-align: center;
    color: var(--fifth);
}

.navi__items{
    color: var(--color-first);
    border: #F5F5DC solid 1px;
    border-radius: 10px;
    padding: 5px 13px;
    text-decoration: none;
    display:inline-block;
    }

.navi__items:hover{
    box-shadow: 0 0 15px #e761a9;
    
}

.navi__link{
    color: #e5097f;
    text-decoration: none;

}
.piedpagia{
    display: flex;
    margin: 3px solid var(--color-first);
    position: -webkit-sticky;
    position:sticky;
    z-index: 100;
    padding: 1rem 0;
    background-color: var(--fifth);
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100px;
    
    
}